%h1 Log In
=form_tag sessions_path, class: "well form-inline" do
	.field
		=label_tag :key
		=text_field_tag :key, params[:key], :placeholder => "Enter your key...", :class => "input-large"
		=submit_tag "Log In", :class => "btn btn-primary btn-small"