%h2 Listing ballots
%div
  -if @ballot.empty?
    %p No Ballots
  -@ballot.each do |ballot|
    %p
      %i.icon-list-alt
      =link_to ballot.name, ballot
      %span
        Expires in 
        =distance_of_time_in_words_to_now ballot.end
