%p{:id => "notice"}
	=notice
#ballot
	%p
		%b Ballot Name: 
		%span.note
			This ballot started
			=distance_of_time_in_words_to_now @ballot.start
			ago and will expire
			=distance_of_time_in_words_to_now @ballot.end
			from today.
		=@ballot.name
	%p
		%b Description: 
		=@ballot.description
	%p
		=form_tag do
			-@ballot.questions.each do |q|
				%ul
					%li.question
						=q.question_text
						%br/
						-q.answers.each do |a|
							=radio_button_tag("answer[#{a.id}]", a.answer_text)
							=label_tag(a.answer_text)
							%br/
			=submit_tag "Submit"
=link_to 'Back', ballots_path