%h1 Home Page
%p 
	Welcome to the Antrim Glen Voting website.  To vote on an issue click the login link.  After signing in with your unique pin number, click on 
	=link_to "ballots", ballots_path
	to see a list of available ballots to vote on.  You can only vote once in each ballot.