%h1 Recent Updates

-@posts.each do |post|
	.post
		%p.title
			=post.title
			%span.author
				By: 
				=post.name
		%div
			=truncate(post.content, :length => 255)
		%br/
		%p.link
			=link_to "View Full Article", post
	%hr/