// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post {
	padding: 0 5px;
}
.title {
	font-weight: bold;
	text-align:left;
	width: 100%;
	font-size: 14px;
}
.author {
	font-size: 12px;
	font-weight: normal;
	font-variant: italic;
}
