!!! 5
%html
	%head
		%title Antrim
		=stylesheet_link_tag    "application", :media => "all"
		=javascript_include_tag "application"
		=csrf_meta_tags
	%body
		#main_container
			%header{:id => "main-header"}
				%h1{:id => "logo"} Antrim Glen
				%h2{:id => "slogan"} Your Slogan Rocks
			%nav{:id => "main-menu"}
				=link_to "Blog Posts", posts_path
				=link_to "Ballots", ballots_path
				%span
					-if current_user
						=link_to "Log Out", logout_path
					-else
						=link_to "Login", login_path
			-flash.each do |name, msg|
				%div{:id => "flash_#{name}", :class => "message"}
					=msg
			#content
				=yield